html {
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
}
a {
    text-decoration: none;
}
h1, h2 {
    margin: 0;
}

    /*HEADER*/

.header {
    background: url(image/Placement_Area_ASSETheroSIZEDe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navigation__logo {
    color: #000;
    font-weight: bold;
}
.navigation__btn {
    width: 170px;
    height: 50px;
    margin-right: 60px;
    padding: 0;
    background-color: #CF755A;
    color:#FFF;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.hero {
    text-align: center;
}
.hero__title {
    color: #CF755A;
    font-size: 59px;
    
}
.hero__description {
    font-size: 18px;
    height: 80px;
    margin: 35px auto 0;
}
.hero__btn {
    width: 170px;
    height: 50px;
    margin: 30px 65px 0;
    padding: 0;
    background-color: #CF755A;
    color:#FFF;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.hero__btn:nth-of-type(1) {
    background-color: #ffffff;
    color: #000;
}

    /*MAIN*/
.works {
    text-align: center;
}
.works__title {
    font-size: 51px;
    margin: 70px auto 0;
}
.works__description {
    color: #737373;
    margin: 30px auto 0;
    height: 45px;
    line-height: 1.5em;
}
.works__list {
    list-style-type: none;
}
.works__item a {
    color:#464646;
    margin-right: 35px;
}
.works__item a:hover {
    border-bottom: 2px solid #CF755A;
    color: #000;
}
.works__img {
    margin: 0;
}

.features {
    background-color: #AEC1BA;
}
.features__list {
    display: grid;
}

.features__title {
    font-size: 34px;
}
.features__description {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}
.features__btn {
    background-image: url(svg/icon.svg);
    background-color: #CF755A;
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
    height: 56px;
    border-radius: 100px;
}

.testimonials {
    width: 100%;
    background-image: url(image/Placement_Area_ASSETpanelSIZED.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.testimonials__title {
    font-size: 34px;
}
.testimonials__sign {
    text-align: center;
}

.highlights {
    background-color: #D8D5BF;
}
.highlights__content {
    display: grid;
}
.highlights__form {
    text-align: center;
}
.highlights__title {
    color: #CF755A;
    font-size:  59px;
}
.highlights__subtitle {
    font-size: 25px;
}

.team {
    text-align: center;
}
.team__title {
    font-size: 51px;
}
.team__description {
    color: #737373;
    line-height: 1.5em;
}
.team__gallery {
    display: grid;
}
.news {
    text-align: center;
}
.news__title {
    font-size: 51px;
}
.news__description {
    color: #737373;
    line-height: 1.5em;
}
.news__content {
    display: grid;
}
.news__form {
    width: 344px;
    text-align: left;
    display: grid;
    box-shadow: 10px 10px 30px 0px #E5E5E5;
    padding: 32px 24px;
}
.news__text {
    line-height: 1.4em;
    position: relative;
}
.news__text::after {
    content:"";
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 44px;
    border-bottom: 2px solid #CFCFCF;
}

    /*FOOTER*/

.footer {
    display: grid;
}
.footer__nav {
    background-color: #D8D5BF;
    display: grid;
}
.footer__logo {
    font-size: 34px;
    font-weight: bold;
}
.footer__text {
    color: #A1A1A1;
    line-height: 1.5em;
}
.footer__socialBtn {
    background-color: #AEC1BA;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 100px;
}
.footer__socialBtn--facebook {
    background-image: url(svg/facebook.svg);
}
.footer__socialBtn--twitter {
    background-image: url(svg/twitter.svg);
}
.footer__socialBtn--youtube {
    background-image: url(svg/youtube.svg);
}
.footer__socialBtn--phone {
    background-image: url(svg/phone.svg);
}
.footer__products-list {
    list-style-type: none;
}
.footer__products-item {
    font-size: 18px;
}
.footer__services-list {
    list-style-type: none;
}
.footer__services-item {
    font-size: 18px;
}
.footer__resources-title {
    text-align: center;
}
.footer__resources-list {
    list-style-type: none;
}
.footer__resources-item {
    font-size: 18px;
}

.footer__strip {
    background-color: #AEC1BA;
    display: grid;
    font-size: 14px;
    font-weight: bold;
}

/* Media queries */
@media (max-width: 479.99px) {
    .navigation {
        display: none;
    }
    .navigation__btn {
        display: block;
    }
    .navigation__logo {
        display: block;
    }
    .navigation--open {
        display: block;
    }
    .hamburger {
        margin: 20px;
        padding: 15px;
        background-color: #FFF;
        color:#CF755A;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    .hero {
        padding: 150px 0;
    }
    .hero__title {
        font-size: 42px;
    }
    .works__list {
        display: flex;
        flex-direction: column;
        margin: 60px 0 30px;
    }
    .works__item {
        margin: 10px 0;
    }
    .works__img {
        max-width: 280px;
        padding: 30px 0;
    }
    .features__list {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 50px 0 100px;
    }
}

@media (min-width: 480px) and (max-width: 1023.99px) {
    .navigation {
        display: none;
    }
    .navigation__btn {
        display: block;
    }
    .navigation__logo {
        display: block;
    }
    .navigation--open {
        display: block;
    }
    .hamburger {
        margin: 20px;
        padding: 15px;
        background-color: #FFF;
        color:#CF755A;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    .hero {
        padding-bottom: 100px;
    }
    .hero__title {
        padding: 150px 0 50px;
    }
    .hero__description {
        width: 420px;
    }
    .main {
        padding: 0;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        display: grid;
    }
    .works {
        padding: 0;
        margin: 0 auto;
        grid-column: 1 / 5;
    }
    .works__description {
        width: 460px;
    }
    .works__img {
        padding: 25px;
        height: 320px;
    }
    .works__list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        margin-top: 50px;
    }
    .features {
        padding: 0;
        grid-column: 1 / 5;
    }
    .features__list {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 50px 0 100px;
    }
    .testimonials {
        grid-column: 1 / 5;
    }
    .highlights {
        grid-column: 1 / 5;
    }
    .team {
        grid-column: 1 / 5;
    }
    .news {
        grid-column: 1 / 5;
    }
}

@media (min-width: 1024px) and (max-width: 1499.99px) {
    .header {
        height: 770px;
        display: grid;
        grid-template-rows: 90px auto;
        grid-template-columns: repeat(8, 1fr);
    }
    .navigation {
        display: flex;
        align-items: center;
        margin-top: 40px;
        grid-column: 1 / 9;
    }
    .navigation__logo {
        flex-grow: 1;
        margin-left: 60px;
    }
    .hamburger {
        display: none;
    }
    .hero {
        grid-column: 1 / 9;
    }
    .hero__title {
        margin: 140px auto 0;
        width: 740px;
        height: 145px;
    }
    .hero__description {
        width: 470px;
    }
    
    .main {
        padding: 0;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        display: grid;
    }
    .works {
        padding: 0;
        margin: 0 auto;
        grid-column: 1 / 5;
    }
    .works__list {
        display: flex;
        flex-direction: row;
        margin: 40px auto 45px;
        padding: 0;
        justify-content: center;
    }
    .works__gallery {
        grid-template-columns: 1fr 1fr;
    }
    .works__description {
        width: 520px;
    }
    .works__img {
        padding: 15px;
    }
    .features {
        height: 510px;
        padding: 0;
        grid-column: 1 / 5;
    }
    .features__list {
        grid-template-columns: repeat(3, 1fr);
    }
    .features__item {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 60px;
        display: grid;
        height: 160px;
    }
    .features__title {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        margin: 0;
    }
    .features__description {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
    }
    .features__btn {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
        margin-right: 20px;
    }
    .testimonials {
        height: 440px;
        grid-column: 1 / 5;
    }
    .testimonials__title {
        margin: 120px 0 0 150px;
    }
    .testimonials__sign {
        margin-top: 90px;
    }
    .highlights {
        height: 280px;
        grid-column: 1 / 5;
    }
    .highlights__content {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .highlights__form {
        grid-row: 1 / 3;
    }
    .highlights__title {
        margin: 80px 0 0 0;
    }
    .highlights__subtitle {
        margin: 30px 0 0 0;
    }
    .team {
        grid-column: 1 / 5;
    }
    .team__title {
        margin: 75px 0 0 0;
    }
    .team__description {
        margin: 25px 0 0 0;
    }
    .team__gallery {
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        margin: 70px auto 0;
    }
    .team__img {
        place-self: center;
    }
    .news {
        grid-column: 1 / 5;
    }
    .news__title {
        margin: 75px 0 0 0;
    }
    .news__description {
        margin: 25px 0 0 0;
    }
    .news__content {
        grid-template-columns: 1fr;
        margin-top: 112px;
        grid-row-gap: 50px;
    }
    .news__form {
        place-self: center;
        grid-template-columns: 1fr;
    }
    .news__text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
    }
    .news__img {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 120px;
    }
    .news__sign {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 120px 0 0 75px;
    }
    
        /*FOOTER*/
    
    .footer {
        height: 580px;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 80px;
    }
    .footer__nav {
        grid-row: 1 / 2;
        grid-template-columns: repeat(6, 1fr);
    }
    .footer__info {
        grid-column: 1 / 3;
        padding: 120px 0 0 80px;
    }
    .footer__text {
        margin: 20px 0 60px 0;
    }
    .footer__socialBtn {
        justify-self: end;
        margin-right: 10px;
    }
    .footer__products {
        grid-column: 4 / 5;
        margin-top: 130px;
    }
    .footer__products-title {
        padding-left: 10px;
        margin-bottom: 38px;
    }
    .footer__products-list {
        margin: 0;
        padding: 0;
    }
    .footer__products-item {
        padding-bottom: 26px;
    }
    .footer__services {
        grid-column: 5 / 6;
        margin-top: 130px;
    }
    .footer__services-title {
        padding-left: 10px;
        margin-bottom: 38px;
    }
    .footer__services-list {
        margin: 0;
        padding: 0;
    }
    .footer__services-item {
        padding-bottom: 26px;
    }
    .footer__resources {
        grid-column: 6 / 7;
        margin-top: 130px;
    }
    .footer__resources-title {
        margin-bottom: 38px;
    }
    .footer__resources-list {
        margin: 0;
        padding: 0;
    }
    .footer__resources-item {
        padding-bottom: 26px;
    }
    .footer__strip {
        grid-row: 2 / 3;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__rights {
        margin-top: 32px;
        margin-left: 75px;
    }
    .footer__policy {
        margin-top: 32px;
        justify-self: end;
    }
    .footer__terms {
        margin-top: 32px;
        margin-right: 100px;
        justify-self: end;
    }
}

@media (min-width: 1500px) {
    .header {
        height: 770px;
        display: grid;
        grid-template-rows: 90px auto;
        grid-template-columns: repeat(8, 1fr);
    }
    .navigation {
        display: flex;
        align-items: center;
        margin-top: 40px;
        grid-column: 1 / 9;
    }
    .navigation__logo {
        flex-grow: 1;
        margin-left: 60px;
    }
    .hamburger {
        display: none;
    }
    .hero {
        grid-column: 1 / 9;
    }
    .hero__title {
        margin: 140px auto 0;
        width: 740px;
        height: 145px;
    }
    
        /*MAIN*/
    
    .main {
        display: grid;
        padding: 0;
        margin: 0 auto;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        max-width: 1600px;
    }
    .works {
        padding: 0;
        margin: 0 auto;
        grid-column: 1 / 5;
    }
    .works__list {
        margin: 40px auto 45px;
        padding: 0;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    .works__gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .works__img {
        height: 320px;
        padding: 25px;
    }
    .features {
        height: 510px;
        padding: 0;
        grid-column: 1 / 5;
    }
    .features__list {
        grid-template-columns: repeat(3, 1fr);
    }
    .features__item {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 60px;
        display: grid;
        height: 160px;
    }
    .features__title {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        margin: 0;
    }
    .features__description {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
    }
    .features__btn {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
        margin-right: 20px;
    }
    .testimonials {
        height: 440px;
        grid-column: 1 / 5;
    }
    .testimonials__title {
        margin: 120px 0 0 150px;
    }
    .testimonials__sign {
        margin-top: 90px;
    }
    .highlights {
        height: 280px;
        grid-column: 1 / 5;
    }
    .highlights__content {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .highlights__form {
        grid-row: 1 / 3;
    }
    .highlights__title {
        margin: 80px 0 0 0;
    }
    .highlights__subtitle {
        margin: 30px 0 0 0;
    }
    .team {
        height: 620px;
        grid-column: 1 / 5;
    }
    .team__title {
        margin: 75px 0 0 0;
    }
    .team__description {
        margin: 25px 0 0 0;
    }
    .team__gallery {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 70px;
    }
    .team__img {
        place-self: center;
    }
    .news {
        height: 820px;
        grid-column: 1 / 5;
    }
    .news__title {
        margin: 75px 0 0 0;
    }
    .news__description {
        margin: 25px 0 0 0;
    }
    .news__content {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 112px;
    }
    .news__form {
        place-self: center;
        grid-template-columns: 1fr;
    }
    .news__text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
    }
    .news__img {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 120px;
    }
    .news__sign {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 120px 0 0 75px;
    }
    
        /*FOOTER*/
    
    .footer {
        height: 580px;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 80px;
    }
    .footer__nav {
        grid-row: 1 / 2;
        grid-template-columns: repeat(6, 1fr);
    }
    .footer__info {
        grid-column: 1 / 3;
        padding: 120px 0 0 100px;
    }
    .footer__text {
        margin: 20px 0 60px 0;
    }
    .footer__socialBtn {
        justify-self: end;
        margin-right: 20px;
    }
    .footer__products {
        grid-column: 4 / 5;
        margin-top: 130px;
    }
    .footer__products-title {
        padding-left: 10px;
        margin-bottom: 38px;
    }
    .footer__products-list {
        margin: 0;
        padding: 0;
    }
    .footer__products-item {
        padding-bottom: 26px;
    }
    .footer__services {
        grid-column: 5 / 6;
        margin-top: 130px;
    }
    .footer__services-title {
        padding-left: 10px;
        margin-bottom: 38px;
    }
    .footer__services-list {
        margin: 0;
        padding: 0;
    }
    .footer__services-item {
        padding-bottom: 26px;
    }
    .footer__resources {
        grid-column: 6 / 7;
        margin-top: 130px;
    }
    .footer__resources-title {
        margin-bottom: 38px;
    }
    .footer__resources-list {
        margin: 0;
        padding: 0;
    }
    .footer__resources-item {
        padding-bottom: 26px;
    }
    .footer__strip {
        grid-row: 2 / 3;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__rights {
        margin-top: 32px;
        margin-left: 75px;
    }
    .footer__policy {
        margin-top: 32px;
        justify-self: end;
    }
    .footer__terms {
        margin-top: 32px;
        margin-right: 100px;
        justify-self: end;
    }
}