html {
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
}
a {
    text-decoration: none;
}

    /*HEADER*/

.header {
    height: 770px;
    background: url(image/Placement_Area_ASSETheroSIZEDe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 90px auto;
    grid-template-columns: repeat(8, 1fr);
}
.navigation {
    grid-column: 1 / 9;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.navigation__logo {
    flex-grow: 1;
    margin-left: 60px;
}
.navigation__btn {
    width: 170px;
    height: 50px;
    margin-right: 60px;
    padding: 0;
    background-color: #CF755A;
    color:#FFF;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.hero {
    grid-column: 1 / 9;
    text-align: center;
}
.hero__title {
    color: #CF755A;
    font-size: 59px;
    width: 740px;
    height: 145px;
    margin: 140px auto 0;
}
.hero__description {
    font-size: 18px;
    width: 470px;
    height: 80px;
    margin: 35px auto 0;
}
.hero__btn {
    width: 170px;
    height: 50px;
    margin: 30px 65px 0;
    padding: 0;
    background-color: #CF755A;
    color:#FFF;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.hero__btn:nth-of-type(1) {
    background-color: #ffffff;
    color: #000;
}

    /*MAIN*/

.main {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.works {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    grid-column: 1 / 5;
}
.works__title {
    font-size: 51px;
    margin: 70px auto 0;
}
.works__description {
    color: #737373;
    margin: 30px auto 0;
    width: 520px;
    height: 45px;
    line-height: 1.5em;
}
.works__list {
    margin: 40px auto 45px;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.works__item a {
    color:#464646;
    margin-right: 35px;
}
.works__item a:hover {
    border-bottom: 2px solid #CF755A;
    color: #000;
}
.work__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}
.work__img {
    margin: 0;
    height: 320px;
}

.features {
    padding: 0;
    height: 510px;
    grid-column: 1 / 5;
    background: #AEC1BA;
}
.features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.features__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 160px;
    margin-top: 60px;
}
.features__title {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    font-size: 34px;
    margin: 0;
}
.features__description {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    margin: 0 30% 0 0;
}
.features__btn {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(svg/icon.svg);
    background-color: #CF755A;
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    justify-self: end;
    margin-right: 20px;
}

.testimonials {
    padding: 0;
    height: 440px;
    grid-column: 1 / 5;
}
.highlights {
    padding: 0;
    height: 280px;
    grid-column: 1 / 5;
}
.team {
    padding: 0;
    height: 620px;
    grid-column: 1 / 5;
}
.news {
    padding: 0;
    height: 820px;
    grid-column: 1 / 5;
}
    /*FOOTER*/

.footer {
    padding: 0;
}
.footer__nav {
    height: 500px;
}
.footer__strip {
    height: 80px;
}
